{% extends "layout.twig" %}

{% block title %}Galerie - Robert Voit{% endblock %}
{% block nav3 %}id="active"{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ path_for('index') }}styles/gallery.min.css">
{% endblock %}

{% block content %}

<div class="container-fluid" style="min-height: 100vh">

  <div class="container">

    <h2 style="margin-top: 30px;">Galerie</h2>
    <hr style="border-color: #E3493B;">

    <div class="row">

      <div class="col-md-3">
        <a href="{{ path_for('galerie_id', {'id': '1'}) }}" class="gallery-preview"><div style="background-image: url('gfx/neues_schloss/1.jpg');" class="previewimg"></div></a>
      </div>
      <div class="col-md-3 desc">
        <h3><a href="{{ path_for('galerie_id', {'id': '1'}) }}" class="preview-text">Neues Schloß</a></h3>
        <p>Restaurierung im Neuen Schloß, Bayreuth</p>
      </div>

      <div class="col-md-3">
        <a href="{{ path_for('galerie_id', {'id': '2'}) }}" class="gallery-preview"><div style="background-image: url('gfx/eremitage/1.jpg');" class="previewimg"></div></a>
      </div>
      <div class="col-md-3 desc">
        <h3><a href="{{ path_for('galerie_id', {'id': '2'}) }}" class="preview-text">Eremitage</a></h3>
        <p>Arbeiten für die Eremitage, Bayreuth</p>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3">
        <a href="{{ path_for('galerie_id', {'id': '7'}) }}" class="gallery-preview"><div style="background-image: url('gfx/muenchen/1.jpg');" class="previewimg"></div></a>
      </div>
      <div class="col-md-3 desc">
        <h3><a href="{{ path_for('galerie_id', {'id': '7'}) }}" class="preview-text">Bürgersaalkirche München</a></h3>
        <p>Rekonstruktion der Schleierbretter und Puttenköpfe</p>
      </div>

      <div class="col-md-3">
        <a href="{{ path_for('galerie_id', {'id': '3'}) }}" class="gallery-preview"><div style="background-image: url('gfx/pommersfelden/1.jpg');" class="previewimg"></div></a>
      </div>
      <div class="col-md-3 desc">
        <h3><a href="{{ path_for('galerie_id', {'id': '3'}) }}" class="preview-text">Schloß Weißenstein, Pommersfelden</a></h3>
        <p>Anfertigung neuer Türen für die Sattelkammer und Restaurierung des Altbestandes</p>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3">
        <a href="{{ path_for('galerie_id', {'id': '4'}) }}" class="gallery-preview"><div style="background-image: url('gfx/amerika/1.jpg');" class="previewimg"></div></a>
      </div>
      <div class="col-md-3 desc">
        <h3><a href="{{ path_for('galerie_id', {'id': '4'}) }}" class="preview-text">Orgelfiguren</a></h3>
        <p>Figuren für eine Orgel, Bundesstaat New York</p>
      </div>

      <div class="col-md-3">
        <a href="{{ path_for('galerie_id', {'id': '5'}) }}" class="gallery-preview"><div style="background-image: url('gfx/moebel/1.jpg');" class="previewimg"></div></a>
      </div>
      <div class="col-md-3 desc">
        <h3><a href="{{ path_for('galerie_id', {'id': '5'}) }}" class="preview-text">Möbelbau</a></h3>
        <p>Feiner Möbelbau aus heimischen Hölzern</p>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3">
        <a href="{{ path_for('galerie_id', {'id': '9'}) }}" class="gallery-preview"><div style="background-image: url('gfx/unterleiterbach/1.jpg');" class="previewimg"></div></a>
      </div>
      <div class="col-md-3 desc">
        <h3><a href="{{ path_for('galerie_id', {'id': '9'}) }}" class="preview-text">Unterleiterbach</a></h3>
        <p>Restaurierung der barocken Treppenbretter, Rekonstruktion der Eingangstüren</p>
      </div>

      <div class="col-md-3">
        <a href="{{ path_for('galerie_id', {'id': '8'}) }}" class="gallery-preview"><div style="background-image: url('gfx/bildhauerarbeiten/1.jpg');" class="previewimg"></div></a>
      </div>
      <div class="col-md-3 desc">
        <h3><a href="{{ path_for('galerie_id', {'id': '8'}) }}" class="preview-text">Bildhauerarbeiten</a></h3>
        <p>Verschiedene Kopien</p>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3">
        <a href="{{ path_for('galerie_id', {'id': '10'}) }}" class="gallery-preview"><div style="background-image: url('gfx/moebelrestaurierung/1.jpg');" class="previewimg"></div></a>
      </div>
      <div class="col-md-3 desc">
        <h3><a href="{{ path_for('galerie_id', {'id': '10'}) }}" class="preview-text">Möbelrestaurierung</a></h3>
        <p>Beispiele</p>
      </div>

      <div class="col-md-3">
        <a href="{{ path_for('galerie_id', {'id': '6'}) }}" class="gallery-preview"><div style="background-image: url('gfx/formenspiele/1.jpg');" class="previewimg"></div></a>
      </div>
      <div class="col-md-3 desc">
        <h3><a href="{{ path_for('galerie_id', {'id': '6'}) }}" class="preview-text">Formenspiele</a></h3>
        <p>Freies Gestalten</p>
      </div>

    </div>

  </div>

  <br><br><br>
  <br><br><br>
  <br><br><br>

</div>

{% endblock %}
