<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Robert Voit - Holzbildhauer und Schreiner - Restaurierungen seit 1985 - Robert Voit, 95485 Warmensteinach, Hütten 14 - Umgebung Bayreuth">
    <meta name="HandheldFriendly" content="true">
    <link rel="icon" href="{{ path_for('index') }}gfx/favicon.ico" type="image/vnd.microsoft.icon">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+sans|Lora" rel="stylesheet">
    <link rel="stylesheet" href="{{ path_for('index') }}styles/main.min.css">
    {% block header %}

    {% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-default">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="{{ path_for('index') }}">Robert Voit</a>
       </div>
       <div class="collapse navbar-collapse" id="navbar">
         <ul class="nav navbar-nav">
           <li {% block nav1 %}{% endblock %}><a href="{{ path_for('index') }}">Startseite</a></li>
           <li {% block nav4 %}{% endblock %}><a href="{{ path_for('person') }}">Zur Person</a></li>
           <li {% block nav2 %}{% endblock %} class="dropdown"><a href="{{ path_for('taetigkeiten') }}">Tätigkeiten</a></li>
           <li {% block nav5 %}{% endblock %}><a href="{{ path_for('referenzen') }}">Referenzen</a></li>
           <li {% block nav3 %}{% endblock %}><a href="{{ path_for('galerie') }}">Galerie</a></li>
           <li {% block nav6 %}{% endblock %}><a href="{{ path_for('kontakt') }}">Kontakt</a></li>
         </ul>
       </div>
     </div>
    </nav>

    {% block content %}

    {% endblock %}

    <footer class="text-center">
      <p>{{ "now"|date("Y") }} &copy; robert-voit.de</p>
      <p><a href="{{ path_for('impressum') }}">Impressum</a></p>
      <p><a href="{{ path_for('datenschutz') }}">Datenschutzerklärung</a></p>
      <p><a href="{{ path_for('kontakt') }}">Kontakt</a></p>
      <div><hr></div>
      <p>Design by <a target="_blank" href="https://moritz-schramm.com">Moritz Schramm</a></p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    {% block footer %}

    {% endblock %}

  </body>
</html>
