{% extends "layout.twig" %}

{% block title %}Referenzen - Robert Voit{% endblock %}
{% block nav5 %}id="active"{% endblock %}

{% block content %}

<div class="container-fluid" style="min-height: 100vh;">

  <div class="container">

    <div class="row">

      <div class="col-md-11 col-md-offset-1">

    <h2 style="margin-top: 30px;">Referenzen</h2>
    <hr style="border-color: #E3493B; margin-bottom: 0;">

    {% if page == 1  %}

      <div class="text-center">
        <ul class="pagination">
          <li class="active"><a href="{{ path_for('referenzen_page', { 'page': '1' }) }}">1</a></li>
          <li><a href="{{ path_for('referenzen_page', { 'page': '2' }) }}">2</a></li>
          <li><a href="{{ path_for('referenzen_page', { 'page': '3' }) }}">3</a></li>
        </ul>
      </div>

      <hr style="margin: 0;">

        <h4>2015  Justizgebäude Bayreuth</h4>
        <p class="referenz">
          Abschluß der Fenstersanierung<br>
          Staatliches Bauamt Bayreuth
        </p>

        <h4>2014  Basilika Waldsassen</h4>
        <p class="referenz">
          Holzrestauratorische Ergänzungen der Figuren des Chorgestühls<br>
          Staatliches Bauamt Amberg- Sulzbach<br>
          Fachbauleitung Fa. Spitzner, Bamberg
        </p>

        <h4>2013  Basilika Waldsassen</h4>
        <p class="referenz">
          Abbau von Figuren und Ornamentmedaillons vom Chorgestühlkranz<br>
          Bau der Chorgestühleinhausung<br>
          Staatliches Bauamt Amberg- Sulzbach<br>
          Fachbauleitung Fa. Spitzner, Bamberg
        </p>

        <h4>2012  Justizgebäude Bayreuth</h4>
        <p class="referenz">
          Fenster- und Türsanierung<br>
          Staatliches Bauamt Bayreuth, Archtekturbüro Fischer, Hochstadt
        </p>

        <h4>2011  Schloß Unterleiterbach, Herr Grashei
          <small><a href="{{ path_for('galerie_id', { 'id': '9' }) }}" target="_blank">
            Bilder
            <span class="glyphicon glyphicon-new-window"></span></a></small>
        </h4>
        <p class="referenz">
          Restaurierung des barocken Treppengeländers, Entwicklung und Neuanfertigung<br>
          der Treppenvasen, Entwurf und Ausführung der barocken Schnitzerei der Eingangstüren<br>
          Architekturbüro Rosenberg, Bamberg
        </p>

        <h4>2010   Markgräfin Wilhelmine Gymnasium, Bayreuth</h4>
        <p class="referenz">
          Fenstersanierung<br>
          Staatliches Bauamt Bayreuth
        </p>

        <h4>2009   Eremitage, Bayreuth
          <small><a href="{{ path_for('galerie_id', { 'id': '2' }) }}" target="_blank">
            Bilder
            <span class="glyphicon glyphicon-new-window"></span></a></small>
        </h4>
        <p class="referenz">
          Restaurierungsarbeiten an Innentüren, Wandschnitzereien und Fußböden<br>
          Staatliches Bauamt Bayreuth
        </p>

        <hr style="margin: 0;">
        <div class="text-center">
          <ul class="pagination">
            <li class="active"><a href="{{ path_for('referenzen_page', { 'page': '1' }) }}">1</a></li>
            <li><a href="{{ path_for('referenzen_page', { 'page': '2' }) }}">2</a></li>
            <li><a href="{{ path_for('referenzen_page', { 'page': '3' }) }}">3</a></li>
          </ul>
        </div>

    {% elseif page == 2  %}

      <div class="text-center">
        <ul class="pagination">
          <li><a href="{{ path_for('referenzen_page', { 'page': '1' }) }}">1</a></li>
          <li class="active"><a href="{{ path_for('referenzen_page', { 'page': '2' }) }}">2</a></li>
          <li><a href="{{ path_for('referenzen_page', { 'page': '3' }) }}">3</a></li>
        </ul>
      </div>
      <hr style="margin: 0;">

        <h4>2008   Kirche in Rochester, Bundesstaat New York
          <small><a href="{{ path_for('galerie_id', { 'id': '4' }) }}" target="_blank">
            Bilder
            <span class="glyphicon glyphicon-new-window"></span></a></small>
        </h4>
        <p class="referenz">
          Anfertigung zweier Figuren für den Orgelprospekt<br>
          Paul Fritts, Orgelbau
        </p>

        <h4>2007   Schloß Hafenpreppach</h4>
        <p class="referenz">
          Reinigungsproben an Dielen- und Kassettenböden<br>
          Restaurierung der Wandvertäfelung 1.OG, Saal<br>
          Anton Höger, Kunstmaler
        </p>

        <h4>2006   Museum Schloß Wilanow, Warschau</h4>
        <p class="referenz">
          Nachschnitzen von Füßen für Schnell - Schatullen
        </p>

        <h4>2006   Schloß Weißenstein, Pommersfelden
          <small><a href="{{ path_for('galerie_id', { 'id': '3' }) }}" target="_blank">
            Bilder
            <span class="glyphicon glyphicon-new-window"></span></a></small>
        </h4>
        <p class="referenz">
          Restaurierung der historischen Türen der Sattelkammer<br>
          Neuanfertigung von Außentüren<br>
          Stiftung Schloß Weißenstein, Bauleitung Peter Turek und Stefan Achternkamp
        </p>

        <h4>2005   Schloß Goldkronach</h4>
        <p class="referenz">
          Restaurierung des Fränkischen Parketts und der Dielenböden im 2.OG<br>
          Architekturbüro Meggendorfer&amp;Ochs, Frau Ochs
        </p>

        <h4>seit 2003   Neues Schloß, Bayreuth, Italienischer Bau
          <small><a href="{{ path_for('galerie_id', { 'id': '1' }) }}" target="_blank">
            Bilder
            <span class="glyphicon glyphicon-new-window"></span></a></small>
        </h4>
        <p class="referenz">
          Bildhauerische Ergänzungen der Rokokoschnitzereien<br>
          Abbau und Aufbau von Wandverkleidungen<br>
          Schreinerische Ergänzungen an Sockelprofilen, Füllungen<br>
          Ergänzungsarbeiten an Türen, Gangbarmachung von Türen<br>
          Anobienbekämpfung im gesamten Schloß<br>
          Staatl. Bauamt Bayreuth
        </p>

        <h4>2002   Kath. Pfarrkirche, Bühl, Nürnberger Land</h4>
        <p class="referenz">
          Bildhauerische Ergänzungsarbeiten an Figuren der Altäre und den<br>
          Bankwangen der Kirchenbänke<br>
          Schreinerische Arbeiten an Profilen und losen Teilen der Altäre<br>
          Erzbischöfliches Bauamt Bamberg
        </p>

        <hr style="margin: 0;">
        <div class="text-center">
          <ul class="pagination">
            <li><a href="{{ path_for('referenzen_page', { 'page': '1' }) }}">1</a></li>
            <li class="active"><a href="{{ path_for('referenzen_page', { 'page': '2' }) }}">2</a></li>
            <li><a href="{{ path_for('referenzen_page', { 'page': '3' }) }}">3</a></li>
          </ul>
        </div>

      {% elseif page == 3  %}

      <div class="text-center">
        <ul class="pagination">
          <li><a href="{{ path_for('referenzen_page', { 'page': '1' }) }}">1</a></li>
          <li><a href="{{ path_for('referenzen_page', { 'page': '2' }) }}">2</a></li>
          <li class="active"><a href="{{ path_for('referenzen_page', { 'page': '3' }) }}">3</a></li>
        </ul>
      </div>
      <hr style="margin: 0;">

        <h4>2001   Kirche St. Getreu, Bamberg, Altäre</h4>
        <p class="referenz">
          Zusammenarbeit mit Frau Petra Zenkel<br>
          Restaurierungsarbeiten an Furnieren und Profilteilen
        </p>

        <h4>2001   Eremitage Bayreuth, Altes Schloß</h4>
        <p class="referenz">
          Restaurierung von Fenstern und Türen<br>
          Funktionsprüfung, Gangbarmachen, Ergänzungsarbeiten<br>
          Restaurierungsarbeiten an Dielenböden<br>
          Staatl. Bauamt Bayreuth
        </p>

        <h4>2000   Altar der Schloßkirche, Schloß Weissenstein, Pommersfelden</h4>
        <p class="referenz">
          Reinigung, Sicherung von Säulen<br>
          Stiftung Schloß Weissenstein
        </p>

        <h4>1999   Bauernhof in Langenstadt</h4>
        <p class="referenz">
          Restaurierungsarbeiten an Wandverkleidung und Dielenböden<br>
          Denkmalpreis der Hypo - Kulturstiftung<br>
          Architekturbüro Meggendorfer &amp; Ochs, Frau Windisch
        </p>

        <h4>1999   Jugendstilräume der Regierung von Oberfranken, Bayreuth</h4>
        <p class="referenz">
          Reinigung von furnierten Wand- und Deckenvertäfelungen<br>
          Niederlegen von gelösten Furnieren, partiell Neuauftrag von<br>
          Schellackoberflächen<br>
          Staatl. Hochbauamt Bayreuth
        </p>

        <h4>1998   Bürgersaalkirche, München
          <small><a href="{{ path_for('galerie_id', { 'id': '7' }) }}" target="_blank">
            Bilder
            <span class="glyphicon glyphicon-new-window"></span></a></small>
        </h4>
        <p class="referenz">
          Rekonstruktion und Neuanfertigung der Orgelornamentik<br>
          Orgelbau Vleugels, Hardheim
        </p>

        <h4>1997   Schloß Thurn, Heroldsbach</h4>
        <p class="referenz">
          Rekonstruktion barocker Konsoltischchen<br>
          Graf Bentzel
        </p>

        <hr style="margin: 0;">
        <div class="text-center">
          <ul class="pagination">
            <li><a href="{{ path_for('referenzen_page', { 'page': '1' }) }}">1</a></li>
            <li><a href="{{ path_for('referenzen_page', { 'page': '2' }) }}">2</a></li>
            <li class="active"><a href="{{ path_for('referenzen_page', { 'page': '3' }) }}">3</a></li>
          </ul>
        </div>


        {% endif  %}

      </div>

    </div>
      </div>

    </div>

  </div>

  <br><br><br><br>

</div>

{% endblock %}
