{% extends "gallery/gallery_layout.twig" %}

{% block gallery_title %}Schloß Weißenstein, Pommersfelden{% endblock %}
{% block gallery_title2 %}Schloß Weißenstein, Pommersfelden{% endblock %}

{% block gallery %}
<div class="row">

  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/pommersfelden/1.jpg');" data-gallery="{{ path_for('index') }}gfx/pommersfelden/1.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div>
  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/pommersfelden/2.jpg');" data-gallery="{{ path_for('index') }}gfx/pommersfelden/2.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div>
  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/pommersfelden/3.jpg');" data-gallery="{{ path_for('index') }}gfx/pommersfelden/3.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div>
  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/pommersfelden/4.jpg');" data-gallery="{{ path_for('index') }}gfx/pommersfelden/4.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div>

</div>
<div class="row">

  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/pommersfelden/5.jpg');" data-gallery="{{ path_for('index') }}gfx/pommersfelden/5.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div>
  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/pommersfelden/6.jpg');" data-gallery="{{ path_for('index') }}gfx/pommersfelden/6.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div>
  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/pommersfelden/7.jpg');" data-gallery="{{ path_for('index') }}gfx/pommersfelden/7.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div>
  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/pommersfelden/8.jpg');" data-gallery="{{ path_for('index') }}gfx/pommersfelden/8.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div>

</div>

<div class="row">

  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/pommersfelden/9.jpg');" data-gallery="{{ path_for('index') }}gfx/pommersfelden/9.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div>

</div>
{% endblock %}
