{% extends "gallery/gallery_layout.twig" %}

{% block gallery_title %}Formenspiele{% endblock %}
{% block gallery_title2 %}Formenspiele{% endblock %}

{% block gallery %}
<div class="row">

  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/formenspiele/1.jpg');" data-gallery="{{ path_for('index') }}gfx/formenspiele/1.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div>
  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/formenspiele/2.jpg');" data-gallery="{{ path_for('index') }}gfx/formenspiele/2.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div>
  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/formenspiele/3.jpg');" data-gallery="{{ path_for('index') }}gfx/formenspiele/3.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div>
  <div class="col-md-3 ">
    <!--div style="background-image: url('{{ path_for('index') }}gfx/formenspiele/4.jpg');" data-gallery="{{ path_for('index') }}gfx/formenspiele/4.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p-->
  </div>

</div>
{% endblock %}
