{% extends "gallery/gallery_layout.twig" %}

{% block gallery_title %}Möbelrestaurierung{% endblock %}
{% block gallery_title2 %}Möbelrestaurierung{% endblock %}

{% block gallery %}
<div class="row">

  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/moebelrestaurierung/1.jpg');" data-gallery="{{ path_for('index') }}gfx/moebelrestaurierung/1.jpg" class="previewimg clickable-img"></div>
    <p class="description">Privat</p>
  </div>
  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/moebelrestaurierung/2.jpg');" data-gallery="{{ path_for('index') }}gfx/moebelrestaurierung/2.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div>
  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/moebelrestaurierung/3.jpg');" data-gallery="{{ path_for('index') }}gfx/moebelrestaurierung/3.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div>
  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/moebelrestaurierung/4.jpg');" data-gallery="{{ path_for('index') }}gfx/moebelrestaurierung/4.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div>

</div>

<div class="row">

  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/moebelrestaurierung/5.jpg');" data-gallery="{{ path_for('index') }}gfx/moebelrestaurierung/5.jpg" class="previewimg clickable-img"></div>
    <p class="description">Schloß Weißenstein</p>
  </div>
  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/moebelrestaurierung/6.jpg');" data-gallery="{{ path_for('index') }}gfx/moebelrestaurierung/6.jpg" class="previewimg clickable-img"></div>
    <p class="description">Kloster Speinshart</p>
  </div>
  <!--div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/moebelrestaurierung/3.jpg');" data-gallery="{{ path_for('index') }}gfx/moebelrestaurierung/3.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div>
  <div class="col-md-3 ">
    <div style="background-image: url('{{ path_for('index') }}gfx/moebelrestaurierung/4.jpg');" data-gallery="{{ path_for('index') }}gfx/moebelrestaurierung/4.jpg" class="previewimg clickable-img"></div>
    <p class="description"></p>
  </div-->

</div>
{% endblock %}
